<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prototype System for Basins' Data Using</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iview.css"/>
    <script src="/static/js/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/leaflet.pm.css"/>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/leaflet.pm.min.js"></script>
    <style>
        body{
            margin: 0px
        }
        .map{
            height: calc(100vh);
        }
        #controllerDiv{
            position: fixed;
            right: 10px;
            bottom: 30px;
            z-index: 999;
            width: 290px;
        }
        .controllerItemDiv{
            background-color:#f0f8ff85;
            margin-top: 15px;
        }
        .basinTypeDiv{
            padding: 0px 0px 0px 15px;
        }
        .basinSelecter{
            width: 100px;
        }
        .divider{
            margin: 10px 0;
            background-color: #96c6f7;
        }
        .basinLabel{
            width: 125px;
        }
        .btnHoverBlue:hover {
            background-color: #2db7f5;
            color: white;
        }
        .clickSwitch{
            margin-left: 5px;
        }
        .uploadGeoJSON{
            border: dashed 0.5px;
            margin-left: 5px;
        }
        .downloadBtn{
            margin-left: 5px;
            width:50px;
        }
        .customDiv{
            text-align: center;
        }
        .customBtn{
            width:250px;
        }
    </style>
</head>

<body>
    <div id="vueApp">
        <div class="map" id="leafletMap"></div>
        <div id="controllerDiv">
            <Card :bordered="false" class='controllerItemDiv'>
                <strong slot="title">Data Layers Display</strong>
                <Checkbox v-model="riverCkb" @on-change="showRiverLayer">Rivers Layer</Checkbox>
                <Divider size="small" class="divider"></Divider>
                <Checkbox v-model="basinCkb" @on-change="showBasinsLayer">Basins Layer</Checkbox>
                <div class="basinTypeDiv">
                    <Radio-group v-model="basinType" @on-change="changeBainsType">
                        <Radio label="standard" class="basinLabel" :disabled = "!basinCkb">
                            <span>Standard Basins</span>
                        </Radio>
                        <i-select class="basinSelecter" v-model="levelSelect" size="small" 
                        :disabled="!(basinCkb&&basinType=='standard')"
                        @on-change="changeStandardBasinsLevel">
                            <i-option v-for="item in levelLayerList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                        <Radio label="custom" class="basinLabel" :disabled = "!basinCkb">
                            <span>Basins & Lakes</span>
                        </Radio>
                        <i-select class="basinSelecter" v-model="levelSelectCustom" size="small" 
                        :disabled="!(basinCkb&&basinType=='custom')"
                        @on-change="changeCustomBasinsLevel">
                            <i-option v-for="item in levelLayerList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </Radio-group>
                </div>
                <Divider size="small" class="divider"></Divider>
                <Checkbox v-model="wholeBasinCkb" @on-change="showWholeBasinLayer">Whole Basins Layer</Checkbox>
            </Card>
            <Card :bordered="false" class='controllerItemDiv'>
                <strong slot="title">Data Service Tools</strong>
                <span>Query Basin Scope by Click:</span>
                <i-switch class="clickSwitch" size="large" @on-change="changeQueryBasinBtn">
                    <Icon slot="open" type="md-pin" size="20"></Icon>
                    <Icon slot="close" type="md-close" size="20"></Icon>
                </i-switch>
                <Divider size="small" class="divider"></Divider>
                <span>Download Data by Geometry:</span>
                <div class="basinTypeDiv">
                    <div>
                        <span>Upload Custom Scope:</span>
                        <i-button size="small" type="primary" ghost class="uploadGeoJSON" @click="uploadGeoJSON">
                            <Icon type="ios-cloud-upload" size="15"></Icon>
                            <span>Upload</span>
                        </i-button>
                    </div>
                    <small>(Or Use Existing Geometry on the Map)</small>
                    <div>
                        <span>Select Data to Download:</span>
                        <i-button size="small" type="success" ghost class="downloadBtn" @click="showDownloadModal">
                            <Icon type="md-download" size="20"></Icon>
                        </i-button>
                    </div>
                </div>
            </Card>
            <Card :bordered="false" class='controllerItemDiv'>
                <strong slot="title">Custom Data Generation</strong>
                <p>Reset the Parameters of Result Data:</p>
                <div class="customDiv">
                    <i-button size="small" class="customBtn" type="primary" ghost @click="showResetModal">
                        <p>Setting & Download</p>
                    </i-button>
                    <div>
                        <small>(Use the Data Provided)</small>
                    </div>
                </div>
                <Divider size="small" class="divider"></Divider>
                <p>Use Custom Data for Generation:</p>
                <div class="customDiv">
                    <i-button size="small" class="customBtn" type="primary" ghost @click="showCustomDataModal">
                        <p>Upload & Setting & Download</p>
                    </i-button>
                </div>
            </Card>
        </div>
    </div>
    <script>
        var vueApp = new Vue({
            el: "#vueApp",
            created(){
                this.initLevelLabel();
            },
            mounted(){
                this.initMap();
                this.initController();
                this.initLayers();
            },
            data(){
                return {
                    mapEl: null,
                    baseLayers: null,
                    drawingLayerGroup: null,
                    riverLayer: null,
                    riverCkb: false,
                    basinCkb:false,
                    basinType: 'standard',
                    levelSelect: 1,
                    levelSelectCustom: 1,
                    levelLayerList:[],
                    basinLayer: null,
                    wholeBasinLayer: null,
                    wholeBasinCkb:false
                }
            },
            methods:{
                initLevelLabel(){
                    for(i=1;i<13;i++){
                        item = {
                            value: i,
                            label: 'level ' + i
                        }
                        this.levelLayerList.push(item);
                    }
                },
                initMap(){
                    this.mapEl = L.map('leafletMap').setView([-19.49766416813904, 46.64794921875], 6);
                },
                initController(){
                    this.drawingLayerGroup = L.layerGroup([]);
                    this.drawingLayerGroup.addTo(this.mapEl);
                },
                initLayers(){
                    // 图层控件
                    var mapboxVectorMap = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYm9zaDAxMTMiLCJhIjoiY2tsM3FicnprMTMyZTJvbzRpeXF4Y2ZoOSJ9.JFmrSXBF0bTcqyXXnWjLYQ';
                    var vectorMap = L.tileLayer(mapboxVectorMap, { maxZoom: 18 });
                    var vector = L.layerGroup([vectorMap]);

                    
                    var osmVectorMap = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                    var osmVectorMap = L.tileLayer(osmVectorMap, { maxZoom: 18 });
                    var vectorOSM = L.layerGroup([osmVectorMap]);
                    
                    var tdtImgMap =
                        "http://t0.tianditu.gov.cn/img_w/wmts?tk=d6b0b78f412853967d91042483385d2c" +
                        "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}";
                    var tdtImgAno =
                        "http://t0.tianditu.gov.cn/eia_w/wmts?tk=d6b0b78f412853967d91042483385d2c" +
                        "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=eia&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}";
                    var satelliteMap = L.tileLayer(tdtImgMap, {
                        maxZoom: 18,
                        attribution:
                            '&copy; <a href="http://map.tianditu.gov.cn/">tianditu</a> contributors'
                    });
                    var satelliteAno = L.tileLayer(tdtImgAno, { maxZoom: 18 });
                    var satellite = L.layerGroup([satelliteMap, satelliteAno]);

                    var tdtTerrMap =
                        "http://t0.tianditu.com/ter_w/wmts?tk=d6b0b78f412853967d91042483385d2c" +
                        "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=ter&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}";
                    var tdtTerrAno =
                        "http://t0.tianditu.com/eta_w/wmts?tk=d6b0b78f412853967d91042483385d2c" +
                        "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=eta&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}";
                    var terrainMap = L.tileLayer(tdtTerrMap, {
                        maxZoom: 18,
                        attribution:
                            '&copy; <a href="http://map.tianditu.gov.cn/">tianditu</a> contributors'
                    });
                    var terrainAno = L.tileLayer(tdtTerrAno, { maxZoom: 18 });
                    var terrain = L.layerGroup([terrainMap, terrainAno]);

                    this.baseLayers = {
                        "Mapbox Vector map": vector,
                        "OSM Vector map": vectorOSM,
                        "TDT Satellite map": satellite,
                        "TDT Terrain map": terrain
                    };
                    var overlayLayers = {};
                    L.control.layers(this.baseLayers, overlayLayers).addTo(this.mapEl);
                    this.baseLayers["Mapbox Vector map"].addTo(this.mapEl);
                    
                    // 底图均默认为0层级
                    this.baseLayers["Mapbox Vector map"].setZIndex(0);
                    this.baseLayers["OSM Vector map"].setZIndex(0);
                    this.baseLayers["TDT Satellite map"].setZIndex(0);
                    this.baseLayers["TDT Terrain map"].setZIndex(0);

                    // 比例尺
                    L.control
                        .scale({
                            position: "bottomleft"
                        })
                        .addTo(this.mapEl);

                    // 绘图控件
                    var options = {
                        position: "topleft", // toolbar position, options are 'topleft', 'topright', 'bottomleft', 'bottomright'
                        drawMarker: false, // adds button to draw markers
                        drawPolyline: false, // adds button to draw a polyline
                        drawRectangle: true, // adds button to draw a rectangle
                        drawPolygon: true, // adds button to draw a polygon
                        drawCircle: false, // adds button to draw a cricle
                        cutPolygon: false, // adds button to cut a hole in a polygon
                        editMode: true, // adds button to toggle edit mode for all layers
                        dragMode: false,
                        removalMode: true // adds a button to remove layers
                    };
                    this.mapEl.pm.addControls(options);
                },
                showRiverLayer(show){
                    if(show){
                        console.log('Show River Layer.');
                        // this.riverLayer = L.tileLayer('http://172.21.213.155:8085/tile/{z}/{x}/{y}.png').addTo(this.mapEl);
                    }
                    else{
                        console.log('Hide River Layer.');
                        // this.riverLayer.remove();
                    }
                },
                showBasinsLayer(show){
                    if(show){
                        this.changeBainsType();
                    }
                    else{
                        console.log('Hide Basins Layer.');
                        try{
                            this.basinLayer.remove();
                        }catch{}
                    }
                },
                changeBainsType(){
                    switch(this.basinType){
                        case 'standard':{
                            this.changeStandardBasinsLevel();
                            break;
                        }
                        case 'custom':{
                            this.changeCustomBasinsLevel();
                            break;
                        }
                    }
                },
                changeStandardBasinsLevel(){
                    try{
                        this.basinLayer.remove();
                    }catch{}
                    var level = this.levelSelect;
                    // this.basinLayer = L.tileLayer('http://172.21.213.155:8085/tile/{z}/{x}/{y}.png').addTo(this.mapEl);
                    console.log('Show Standard Basin Layer in Level ' + level + '.');
                },
                changeCustomBasinsLevel(){
                    try{
                        this.basinLayer.remove();
                    }catch{}
                    var level = this.levelSelectCustom;
                    // this.basinLayer = L.tileLayer('http://172.21.213.155:8085/tile/{z}/{x}/{y}.png').addTo(this.mapEl);
                    console.log('Show Basin Layer with Lakes in Level ' + level + '.');
                },
                showWholeBasinLayer(show){
                    if(show){
                        this.wholeBasinLayer = L.tileLayer('http://172.21.213.155:8085/tile/{z}/{x}/{y}.png').addTo(this.mapEl);
                    }
                    else{
                        this.wholeBasinLayer.remove();
                    }
                },
                changeQueryBasinBtn(state){
                    if(state){
                        confirm('Start Click.');
                    }else{
                        console.log("Stop Click.");
                    }
                },
                uploadGeoJSON(){
                    confirm("Select File and Upload.");
                },
                showDownloadModal(){
                    confirm("Show Download Setting Modal and Download.");
                },
                showResetModal(){
                    confirm("Show Data Setting Modal and Download.");
                },
                showCustomDataModal(){
                    confirm("Show Data Custom Setting Modal and Download.");
                }
            }
        })
    </script>
</body>
</html>